
*{
 box-sizing: border-box;   
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bg
{
    background: url('https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg')
    no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter : blur(0px)
}

.loading-text{

    font-size: 50px;
    color: aliceblue;
}